<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="./style.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
            integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous">
    </head>
    
    
    <body">
        
        <div class="vh-100 d-flex align-items-center z_1" id="app">

            <div class="container col-9 bg-white d-flex p-0">
    
                <!-- left side -------------------------------------------------------------------------->
    
                <div class="col-4">

                <!-- YOUR PROFILE ------------------->

                    <div class="profile d-flex align-items-center justify-content-between border-end ">
                        <div class="profile_img d-flex align-items-center ms-2">
                            <img src="./img/avatar_io.jpg" alt="Profile img">
                            <strong>Sofia</strong>
                        </div>
                        <div class="toggle d-flex align-items-center me-3">
                            <i class="fa-solid fa-circle-notch me-3"></i>
                            <i class="fa-solid fa-message me-3 "></i>
                            <i class="fa-solid fa-ellipsis-vertical "></i>
                        </div>
                    </div>

                <!-- DESKTOP NOTIFICATION --------------->

                    <div class="desktop_notification d-flex align-items-center ">
                        <div class="circle rounded-circle bg bg-white d-flex justify-content-center align-items-center ms-2">
                            <i class="fa-solid fa-bell-slash text-info"></i>
                        </div>
                        <div class="ms-2 "><strong>Ricevi notifiche di nuovi messaggi</strong> <br><span class="text-decoration-underline">ricevi notifiche destop</span> </div>
                    </div>

                <!-- SEARCH -->

                    <div class="search d-flex align-items-center mt-1 mb-1"> 
                        
                      <div class="d-flex justify-content-center align-items-center w-100 border-dark m-2  rounded-2">
    
                        <span><i class="fa-solid fa-magnifying-glass m-2"></i></span>
                        <input class="w-100 m-2 border-0" placeholder="Cerca o inizia una nuova chat"  >
                        
                      </div>
                      
                <!-- CONTACT LIST -->       
                    </div>
    
                    <div class="contact_list">

                        <div v-for="(contact, index) in contacts"  @click="selected(index)" class=" card-list d-flex justify-content-between align-items-center m-2">
                            <div class="d-flex">
                                <img class="circle_contact rounded-circle" :src="contact.avatar" alt="Avatar img">
                                <div><strong>{{contact.name}}</strong> <br> <span>Ultimo messaggio</span> </div>
                            </div>
                            <div class="align-self-start ">{{contact.messages[contact.messages.length -1].date.slice(11,16)}}</div>
                        </div>

                    </div>
    
                </div>
    
                <!-- right side ------------------------------------------------------------------------>
                <!-- PROFILE ------------------------------>
                <div class="col-8">
                    <div class="profile d-flex align-items-center justify-content-between">
                        <div  class="profile_img d-flex align-items-center ms-2" >   
                            <img :src="contacts[activeProfile].avatar" alt="Profile img">                       
                            <div class="ms-2 ">
                                <strong>{{ contacts[activeProfile].name }}</strong> 
                                <br> 
                                <span> Ultimo accesso oggi alle {{ contacts[activeProfile].messages[contacts[activeProfile].messages.length -1].date.slice(11,16)}}</span> 
                            </div>
                        </div>
                        <div class="toggle d-flex align-items-center me-3">
                            <i class="fa-solid fa-magnifying-glass m-2 me-3"></i>
                            <i class="fa-solid fa-paperclip me-3"></i>
                            <i class="fa-solid fa-ellipsis-vertical "></i>
                        </div>
                    </div>
    
                    <!-- BOX MESSAGE ----------------------->
    
                    <div class="box_message p-2">

                       

                            <div v-for="(message, index) in contacts[activeProfile].messages" :key="index" class="d-flex " >
                                <div v-if="message.status === 'sent'" class="m_green d-flex justify-content-between align-items-center rounded-3 ps-2 pe-1">{{message.message}} 
                                    <span class="fs_10 align-self-end ">{{message.date.slice(11,16)}}</span> 
                                </div>
                                <div v-else="message.status !== 'sent'" class="m_white d-flex justify-content-between align-items-center rounded-3 ps-2 pe-1">{{message.message}}
                                <span class="fs_10 align-self-end ">{{message.date.slice(11,16)}}</span>
                            </div>
                            </div>
    
                           
                        

                        
                        
                    </div>

                    <!-- MESSAGE BAR -->
    
                    <div class="message_bar d-flex justify-content-evenly align-items-center">
    
                        <i class="fa-regular fa-face-smile fa-2x"></i>
                        <input class="border-0 w-75 h-50 rounded-2 p-2" placeholder="scrivi un messaggio" type="text" @keyup.enter="addMessage"  v-model="newMessage" >
                        <i class="fa-solid fa-microphone fa-2x"></i>
    
                    </div>
    
                    
                </div>
    
            </div>
    
        </div>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./js/main.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous">
        </script>
    

    </body>

</html>