 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-size: 12px;
     /* border: 1px solid; */
 }

 body {
     background: linear-gradient(to bottom, rgb(0, 150, 136) 20%, rgb(219, 219, 210)20% 90%);
 }

 .container {
     height: 90vh;
 }

 .profile {
     height: 8%;
     background: rgb(234, 234, 234);
 }


 .toggle i {
     color: rgb(165, 165, 165);
 }


 .desktop_notification {
     height: 10%;
     background: rgb(142, 218, 252);
 }

 .circle {
     width: 40px;
     aspect-ratio: 1;
 }

 .search {
     height: 8%;
 }

 .contact_list {
     height: 74%;
     overflow-y: scroll;
 }

 .circle_contact {
     width: 40px;
     aspect-ratio: 1;
 }

 .fs_10 {
     font-size: 10px;
 }

 .card_list {
     height: calc(100% / 8);
 }

 .card_list img {
     width: 50px;
 }

 /* RIGHT SIDE */

 .profile_img img {
     width: 40px;
     border-radius: 50%;
     margin-right: 0.5rem;
 }

 .box_message {
     height: 84%;
     background-image: url("./img/mine.jpg");
     background-size: 50%;
     overflow-y: scroll;

 }

 .m_green {
     background-color: rgb(213, 249, 186);
     width: 30%;
     min-height: 4rem;
     margin-left: 60%;
     margin-top: 1rem;
 }

 .m_white {
     background-color: rgb(255, 255, 255);
     width: 30%;
     min-height: 4rem;
     margin-left: 15%;
     margin-top: 1rem;
 }

 .bg_gray {
     background: rgb(226, 226, 226);
 }

 .bg_green {
     background-color: rgb(213, 249, 186);
 }
 .bg_green i{
     font-size: 8px;
 }

 .bg_white {
     background-color: white;
 }
 .bg_white i{
    font-size: 8px;
 }
 
 .pos_data{
    position: absolute;
    right: 5px;
    bottom: 0;
 }

 .message_bar {
     height: 8%;
     background-color: rgb(243, 238, 234);
 }

 .message_bar i {
     color: rgb(165, 165, 165);
 }

 .d_none{
    display: none;
 }